## Ignorar carpetas de compilación
# CleanMinimal.API/bin/
# CleanMinimal.Domain/bin/
# CleanMinimal.Application/bin/
# CleanMinimal.Infraestructure/bin/
# CleanMinimal.API/obj/
# CleanMinimal.Domain/obj/
# CleanMinimal.Application/obj/
# CleanMinimal.Infraestructure/obj/
**/bin/
**/obj/

## Ignorar configuraciones de usuario y temporales
*.user
*.rsuser
*.suo
*.userosscache
*.sln.docstates

## Ignorar archivos de paquete NuGet
*.nupkg
*.snupkg

## Ignorar archivos de publicación y temporales
*.vspscc
.vscode/
.vs/

# Ignorar logs y dumps
*.log
*.tlog
*.log.json
*.dmp